<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sdf_bd.My.MySettings.SALA_DE_FITNESSConnectionString"
            connectionString="Data Source=DESKTOP-A9ND3S6;Initial Catalog=SALA_DE_FITNESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>